<!DOCTYPE html>
<html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:cyan">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-md">
          <a class="navbar-brand" href="/">CRUD Interview</a>
        </div>
      </nav>
    <div class="container mt-5">
    <div class="row text-center" style="padding-left:200px; padding-top:100px"> <br>
        <div class="col-md-4" style="background-color:blue">
            <h2>Login Here</h2>
            <br>

            <form action="/login" method="post">{% csrf_token %}

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="username" name="username" required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control  mt-2" placeholder="password" name="password" required>
                </div>


                <div class="d-grid gap-2">

                    <button class="btn btn-success mt-2" type="submit">Login</button>
                </div>



            </form>
        </div>

        <div style="background-color:white;" class="col-md-4">
            <h2>Register Here</h2>
            <br>

            <form>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="username">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control  mt-2" placeholder="password" >
                </div>


                <div class="d-grid gap-2">

                    <a class="btn btn-success mt-2" href="signup">Register</a>
                    <br>
                </div>



            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>